@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background: #eeeeee;
}
nav{
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 30px 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-items{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}
.search{
    margin: 30px 0;
}
.search input{
    padding: 10px 20px;
}
.search button{
    background-color: #2A2A2A;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #2A2A2A;
}
.item{
    display: flex;
    flex: 1 1  800px;
    margin: 10px;
    background-color: #ffffff;
    border: solid 2px #a3a3a3;
}
.item .img{
    flex: 0 0 25%;
    background-position: center;
    background-size: cover;
}
.item-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 20px 50px;
}
.item-info{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: #2A2A2A;

}

.sizes-list{
    display: flex;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
}

.sizes-list li form{
    margin: 10px 0;
}
.sizes-list li p:first-of-type{
    font-weight: bold;
    color: #4a4a4a;
    font-size: 20px;
}
.sizes-list li p:last-of-type{
    font-style: italic;
}
.sizes-list li input{
    width: 100px;
    background: #fff;
    border: 1px solid #2A2A2A;
    padding: 5px 10px;
}
.sizes-list li button{
    background-color: #fff;
    border: .5px solid #4a4a4a;
    padding: 5px 11px;
    cursor: pointer;
    border-radius: 20px;

}
.sizes-list li button:hover{
    background-color: #eee;
}


@media (max-width:900px) {
    .item{
        flex-direction: column;
        align-items: stretch;
        height: max-content;
    }
    .item .img{
        min-height: 200px;
    }
    .sizes-list{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .category-items{
        max-width: 500px;
    }
}

@media (max-width:600px) {
    .category-items{
        max-width: 300px;
    }
}