{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <!-- Search Form -->
  <form class="search" method="GET" action="{% url 'index' %}">
    <input
      type="text"
      name="q"
      value="{{ query }}"
      placeholder="Найти обувь..."
    />
    <button type="submit">Поиск</button>
  </form>

  <!-- Display Items by Category -->
  {% for category in categories %}
  <h2>{{ category.name }}</h2>
  <div class="category-items">
    {% for item in items %} {% if item.category == category %}
    <div class="item">
      <div class="img" style='background-image: url("{{ item.image.url }}")'></div>
      <div class="item-container">
        <div class="item-info">
            <p>{{ item.name }}</p>
            <p>{{ item.price }} сом</p> 
          </div>
          <ul class="sizes-list">
            {% for size in item.size_set.all %}
            <li>
              <p>Размер {{ size.name }}</p><p>{{ size.left }} осталось</p>
              <form action="{% url 'add_size' size.id %}" method="POST">
                {% csrf_token %}
                <input type="number" name="count" min="1" required />
                <button class="add" type="submit">+</button>
              </form>
              <form action="{% url 'remove_size' size.id %}" method="POST">
                {% csrf_token %}
                <input type="number" name="count" min="1" required />
                <button class="remove" type="submit">-</button>
              </form>
            </li>
    
            {% endfor %}
          </ul>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
